@charset "UTF-8";
@import "../fonts/fontsawesome/web-fonts-with-css/css/fontawesome-all.css";
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.schedule .bagage, .schedule .moderator h4, .schedule .time, .program .card .card-body .event time, .text h1 time, .text h1, .partners_logo h3, .contacts h3, .registration h3, .discount h3, .program .card .card-header h4 button time, .program h3, .speakers h3, .promo h2, .remarketing .text h2 {
  font-family: "Myriad Pro";
  font-weight: 700;
}

footer .partner, .contacts .contact, .registration button.btn, .price ul li, .discount, .schedule .bagage p, .schedule p, .schedule .name, .program .card .card-body .event p, .program .card .card-header h4 button, .speakers span, .promo .text, .remarketing .text, .text button.btn, .modal-dialog .modal_text h4, .modal-dialog .modal_text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.partners_logo h3, .contacts h3, .registration h3, .discount h3, .program .card .card-header h4 button time, .program h3, .speakers h3, .promo h2, .remarketing .text h2 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.img-responsive {
  width: 100%;
}

.modal-dialog {
  max-width: 1000px !important;
}
.modal-dialog .modal-header {
  border-bottom: none;
  position: relative;
  bottom: 65px;
  left: 90px;
}
@media (max-width: 767px) {
  .modal-dialog .modal-header {
    bottom: 15px;
    left: 0;
  }
}
.modal-dialog .modal-header button {
  outline: none;
}
.modal-dialog .modal-header button span {
  font-size: 15px;
  color: #524f78;
}
.modal-dialog .modal-content {
  border-radius: 0;
  border: 1px solid #000;
  padding: 50px 97px 103px;
}
@media (max-width: 767px) {
  .modal-dialog .modal-content {
    padding: 15px;
  }
}
.modal-dialog .modal-body {
  display: flex;
}
.modal-dialog .modal_photo {
  width: 300px;
  height: 300px;
  margin-right: 24px;
}
@media (max-width: 576px) {
  .modal-dialog .modal_photo {
    display: none;
  }
}
.modal-dialog .modal_text {
  color: #000;
}
.modal-dialog .modal_text h4 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

header {
  background-color: #000;
  padding-bottom: 50px;
}
header .bg-dark {
  background-color: #000 !important;
}
header .bg-dark .nav-item {
  margin-left: 85px;
}
@media (max-width: 992px) {
  header .bg-dark .nav-item {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  header .bg-dark .nav-item {
    margin-left: 30px;
  }
}
header .bg-dark .nav-item:first-of-type {
  margin-left: 10px;
}
@media (max-width: 992px) {
  header .bg-dark .nav-item:first-of-type {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  header .bg-dark .nav-item:first-of-type {
    margin-left: 5px;
  }
}
header .bg-dark .nav-item .nav-link {
  color: #fff !important;
  font-size: 18px;
}
header .bg-dark .nav-item .nav-link:focus {
  text-decoration: line-through;
}
header .bg-dark .nav-item:hover .nav-link {
  text-decoration: line-through;
}
header .navbar-toggler {
  border: 2px solid #fff !important;
  background-color: transparent;
  outline: none;
}
header .navbar-toggler span {
  color: #fff;
}

.main_title {
  background-color: #000;
  margin-bottom: 3px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .main_title .gif {
    display: flex;
    justify-content: center;
  }
}
.main_title .gif img {
  position: relative;
  right: -55px;
  transform: scale(1.7);
  padding-top: 80px;
}
@media (max-width: 767px) {
  .main_title .gif img {
    transform: none;
    padding-top: 0;
    right: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .main_title .gif img {
    transform: scale(1.5);
    right: 0;
    padding-top: 80px;
  }
}

.text {
  padding-top: 85px;
  margin-bottom: 245px;
}
@media (max-width: 767px) {
  .text {
    padding-top: 0;
    text-align: center;
    margin-bottom: 45px;
  }
}
.text h1 {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 54px;
}
.text h1 time {
  font-size: 69px;
}
.text button.btn {
  width: 267px;
  height: 56px;
  border: solid #fff 3px;
  background-color: transparent;
}

@media (max-width: 576px) {
  .main_title_partners {
    flex-direction: column;
  }
}
.main_title_partners .partner {
  text-align: center;
  margin-right: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
@media (max-width: 576px) {
  .main_title_partners .partner {
    margin-right: 0;
  }
}
.main_title_partners .partner img {
  padding-top: 14px;
  padding-bottom: 20px;
}
.main_title_partners .partner:nth-child(2) img {
  padding-top: 24px;
}
.main_title_partners .partner:last-of-type img {
  padding-top: 8px;
}

.remarketing {
  background-color: #000;
  padding: 80px 0 50px;
  margin-bottom: 3px;
}
@media (max-width: 992px) {
  .remarketing {
    padding-bottom: 0;
  }
}
.remarketing .text {
  position: relative;
  z-index: 1;
  margin-bottom: 110px;
}
.remarketing .text h2 {
  line-height: 36px;
  letter-spacing: 0.05em;
  padding-top: 9px;
  margin-bottom: 83px;
}
.remarketing .gif {
  position: relative;
  z-index: 0;
  right: 40%;
}
@media (max-width: 992px) {
  .remarketing .gif {
    right: 35%;
  }
}
.remarketing .gif img {
  position: absolute;
  left: 67px;
  transform: scale(1.7);
  padding-top: 80px;
}
@media (max-width: 992px) {
  .remarketing .gif img {
    transform: scale(1.3);
    left: 15px;
  }
}

.promo {
  background-color: #000;
  padding: 85px 0 20px;
}
.promo h2 {
  line-height: 36px;
  letter-spacing: 0.05em;
  padding-top: 4px;
  margin-bottom: 109px;
}
.promo .text {
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 190px;
}
.promo img {
  position: relative;
  right: 15px;
  transform: scale(1.7);
  padding-top: 80px;
}
@media (max-width: 767px) {
  .promo img {
    display: none;
  }
}

.speakers {
  padding: 95px 0 150px;
}
@media (max-width: 576px) {
  .speakers {
    padding: 45px 0 50px;
  }
}
.speakers h3 {
  color: #000;
  margin-bottom: 87px;
}
@media (max-width: 576px) {
  .speakers h3 {
    text-align: center;
    margin-bottom: 37px;
  }
}
.speakers .speaker_photo {
  width: 210px;
  height: 210px;
  background-color: #000;
  margin-bottom: 54px;
  transition: 0.3s;
}
@media (max-width: 576px) {
  .speakers .speaker_photo {
    margin-bottom: 25px;
  }
}
.speakers .speaker_photo:hover {
  transform: scale(1.2);
}
.speakers span {
  display: inline-block;
  color: #000;
}
@media (max-width: 576px) {
  .speakers span {
    margin-bottom: 35px;
  }
}
.speakers:after {
  content: "";
  display: block;
  border: #000 dashed 1px;
  width: 35%;
  margin-top: 186px;
}
@media (max-width: 576px) {
  .speakers:after {
    margin-top: 80px;
  }
}

.mark {
  background-color: #fff;
}

.digital:after {
  display: block;
  content: "";
  border: none;
}

.program h3 {
  color: #000;
  margin-bottom: 30px;
}
.program .card {
  border: none;
  border-radius: 0;
  margin-bottom: 4px;
}
.program .card .card-header {
  border-bottom: none;
  background-color: #000;
}
.program .card .card-header h4 button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.program .card .card-header h4 button time {
  font-size: 48px;
  margin-right: 45px;
}
.program .card .card-header.grey {
  background-color: #c4c4c4;
}
.program .card .card-body .event {
  display: flex;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .program .card .card-body .event {
    flex-direction: column;
  }
}
.program .card .card-body .event .photo {
  width: 210px;
  height: 210px;
  background-color: #000;
  display: inline-block;
  margin-right: 14px;
}
.program .card .card-body .event time {
  font-size: 40px;
  color: #000;
  margin-right: 37px;
}
.program .card .card-body .event p {
  display: inline-block;
  color: #000;
}
.program .card .card-body .event p span {
  font-size: 24px;
}

.schedule {
  padding-top: 36px;
  padding-bottom: 68px;
}
.schedule .time {
  padding-left: 30px !important;
  font-size: 24px;
  color: #000;
  display: block;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .schedule .time {
    font-size: 34px;
    text-align: center;
    padding-left: 15px !important;
  }
}
.schedule .moderator {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}
@media (max-width: 767px) {
  .schedule .moderator {
    text-align: center;
  }
}
.schedule .moderator h4 {
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
}
.schedule .moderator span {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  display: block;
  margin-bottom: 27px;
}
.schedule .schedule_photo {
  width: 120px;
  height: 120px;
  background-color: #000;
  margin-bottom: 28px;
  position: relative;
}
.schedule .schedule_photo:before {
  content: "";
  display: block;
  width: 180px;
  height: 1px;
  background-color: #000;
  position: relative;
  z-index: -1;
  top: 55px;
  right: 145%;
}
@media (max-width: 767px) {
  .schedule .schedule_photo:before {
    width: 0;
  }
}
.schedule .pseudo-small:before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #000;
  position: relative;
  z-index: -1;
  top: 55px;
  right: 80%;
}
@media (max-width: 767px) {
  .schedule .pseudo-small:before {
    width: 0;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .schedule .pseudo-small:before {
    right: 25%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .schedule .pseudo-small:before {
    right: 50%;
  }
}
.schedule .name {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .schedule .name {
    text-align: center;
  }
}
.schedule p {
  color: #000;
  font-weight: 300;
}
@media (max-width: 767px) {
  .schedule p {
    text-align: center;
    margin-bottom: 50px;
  }
}
.schedule .bagage {
  display: flex;
  padding-top: 83px;
  font-size: 40px;
  color: #000;
  margin-right: 37px;
}
@media (max-width: 576px) {
  .schedule .bagage {
    margin-right: 0;
  }
}
.schedule .bagage p {
  color: #000;
  margin-left: 37px;
}
@media (max-width: 576px) {
  .schedule .bagage p {
    margin-left: 0;
  }
}
.schedule .bagage p span {
  font-size: 24px;
  display: block;
}
.schedule .bagage .bagage_logo {
  width: 210px;
  height: 210px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
@media (max-width: 576px) {
  .schedule .bagage .bagage_logo {
    margin-right: 0;
  }
}

.discount {
  background-color: #000;
  padding: 101px 0 126px;
  margin-bottom: 3px;
  font-weight: 300;
  color: #fff;
}
.discount h3 {
  margin-bottom: 106px;
}

.price {
  background-color: #000;
  padding-top: 87px;
  padding-bottom: 50px;
}
.price .gif {
  margin-bottom: 180px;
}
@media (max-width: 992px) {
  .price .gif {
    margin-bottom: 50px;
  }
}
.price .gif img {
  position: relative;
  transform: scale(1.7);
  padding-top: 80px;
}
@media (max-width: 767px) {
  .price .gif img {
    transform: none;
    padding-top: 0;
  }
}
.price ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .price ul {
    flex-direction: column;
  }
}
.price ul li span {
  font-weight: 700;
  font-size: 30px;
}
.price:after {
  content: "";
  display: block;
  border: #fff dashed 1px;
  width: 35%;
  position: relative;
  left: 65%;
  bottom: 0px;
}

.registration {
  padding-top: 91px;
  padding-bottom: 117px;
}
.registration h3 {
  color: #000;
  margin-bottom: 76px;
}
.registration .form-control {
  border-radius: 0;
  margin-bottom: 14px !important;
}
.registration ::-webkit-input-placeholder {
  color: #3e3e3e;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.registration ::-moz-placeholder {
  color: #3e3e3e;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.registration :-ms-input-placeholder {
  color: #3e3e3e;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.registration :-moz-placeholder {
  color: #3e3e3e;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.registration .form-ticket {
  margin-bottom: 68px !important;
}
.registration .count-label {
  margin-right: 50px;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 50px 6px 18px;
  display: inline-block;
}
@media (max-width: 576px) {
  .registration .count-label {
    display: block;
    margin-left: 0;
  }
}
.registration .quantity {
  position: relative;
  display: inline-flex;
}
@media (max-width: 576px) {
  .registration .quantity {
    margin-left: 40px;
  }
}
.registration .quantity input {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 96px;
  padding-left: 17px;
  border: 1px solid #dbdbdb;
}
.registration .quantity input:focus {
  outline: 0;
}
.registration .quantity .quantity-nav {
  height: 40px;
}
.registration .quantity .quantity-button {
  position: absolute;
  color: transparent;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.registration .quantity .quantity-button.quantity-down {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
  left: 0px;
  border: 1px solid #dbdbdb;
  border-right: none;
}
.registration .quantity .quantity-button.quantity-down:after {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #dbdbdb !important;
  text-align: center;
  position: relative;
  bottom: 17px;
}
.registration .quantity .quantity-button.quantity-down:hover {
  background-color: #dbdbdb;
}
.registration .quantity .quantity-button.quantity-down:hover:after {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff !important;
}
.registration .quantity .quantity-button.quantity-up {
  position: absolute;
  bottom: 0px;
  left: 80px;
  height: 100%;
  width: 40px;
  border: 1px solid #dbdbdb;
  border-left: none;
}
.registration .quantity .quantity-button.quantity-up:after {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #dbdbdb !important;
  text-align: center;
  position: relative;
  bottom: 17px;
}
.registration .quantity .quantity-button.quantity-up:hover {
  background-color: #dbdbdb;
}
.registration .quantity .quantity-button.quantity-up:hover:after {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff !important;
}
.registration input[type=number]::-webkit-inner-spin-button,
.registration input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.registration input[type=number] {
  -moz-appearance: textfield;
}
.registration .promocode {
  padding-left: 18px;
  padding-right: 50px;
  width: 195px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  outline: none;
}
.registration button.btn {
  color: #000;
  width: 226px;
  height: 47px;
  border: solid #000 3px;
  text-align: center;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 0;
}

.contacts {
  background-color: #000;
  padding: 100px 0 150px;
}
@media (max-width: 767px) {
  .contacts {
    padding: 30px 0;
    margin-bottom: 3px;
  }
}
.contacts h3 {
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .contacts h3 {
    text-align: center;
  }
}
.contacts .contact {
  margin-bottom: 119px;
}
@media (max-width: 767px) {
  .contacts .contact {
    text-align: center;
  }
}

.partners_logo {
  padding-top: 91px;
  padding-bottom: 115px;
}
@media (max-width: 767px) {
  .partners_logo {
    padding: 0;
  }
}
.partners_logo h3 {
  color: #000;
  margin-bottom: 57px;
}
.partners_logo .partner_logo {
  width: 25%;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #000;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.partners_logo .partner_logo img {
  align-self: flex-start;
  margin-bottom: 5px;
}

footer {
  background-color: #000;
  padding: 75px 0 68px;
}
@media (max-width: 767px) {
  footer {
    padding-top: 30px;
  }
}
footer .partner {
  text-align: left;
  margin-right: 100px;
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
}
footer .partner img {
  padding-top: 27px;
  align-self: flex-start;
}
footer .partner:nth-child(2) img {
  padding-top: 39px;
}
footer .partner:last-of-type img {
  padding-top: 34px;
}
footer .socials {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  footer .socials {
    justify-content: center;
  }
}
footer .socials a {
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 6px;
  text-decoration: none;
}
footer .socials a:before {
  display: block;
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  color: #fff;
  font-size: 17px;
  text-align: center;
  line-height: 40px;
}
footer .socials a:nth-child(2):before {
  content: "";
  font-size: 26px;
}
footer .socials a:last-of-type:before {
  content: "";
  font-size: 23px;
}
footer .socials a:first-of-type:hover {
  background-color: #c4302b;
}
footer .socials a:nth-child(2):hover {
  background-color: #3b5998;
}
footer .socials a:last-of-type:hover {
  background-image: url("../img/bg_insta.jpg");
}

/*# sourceMappingURL=style.css.map */
